h1,
p {
  font-family: Lato;
  font-size: 1.2rem;
}
body {
  background-color:#eee;
}
.shuffle {
  color:white;
  background-color: red;
  float:right;
  font-size: 15px;
  padding:10px;
  border-radius: 10px;
}
.icw {
  padding-left:30px;
}
.ic {
  width:50px;
  display:inline-block;
}
.c-1,
.c-2 {
  color: red;
}

.c-3,
.c-4 {
  color: black;
}

.c-1::before {
  content: "♥";
}

.c-2::before {
  content: "♦";
}

.c-3::before {
  content: "♣";
}

.c-4::before {
  content: "♠";
}
